.App{
  text-align: center;
}

.progress-text {
  text-align: center;
  margin-top: 40px;
}

.question-text {
  text-align: center;
  margin-top: 30px;
  display: block;
}

ul.answers-wrapper {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
}

ul.answers-wrapper li{
  list-style: none;
  height: 30px;
  border: 1px solid green;
}

ul.answers-wrapper li:hover{
  background-color: bisque;
}